################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/CharityView/bin/*
/CharityView/obj/*
/CharityView/obj/Debug/net6.0/*
/CharityView/obj/Debug/net6.0/*